.wrap {height: 100%; overflow: hidden;}

/* header ----------*/
.header {
    background-color: #fff;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 100;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.header .logo {float: left; margin: 20px 0 10px 100px;}

.header .logo > a {
    display: block;
    background: url(../img/logo.png) no-repeat;
    background-size: contain;
    width: 120px;
    height: 20px;
    text-indent: -9999px;   
}

.gnb_wrap {float: right;}

.gnb_wrap .gnb {margin: 20px 100px 0 0;}

.gnb_wrap .menu_drop {display: none;}

.gnb_wrap .gnb > ul > li {display: inline-block;}

.gnb_wrap .gnb > ul > li > a{
    font-size: 1.125em;
    font-weight: 400;
    padding: 0 15px;
    line-height: 1.2;
}

.gnb_wrap .gnb > ul > li > a.active {color: #8080c0;}

.gnb_wrap .gnb_mobile {display: none;}

/* section_home ---------- */
#home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/bg_home02.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1000;
    margin: 0 auto;
}

#home .main_text {
    padding-top: 60px;
    text-align: center;
}

#home .main_text .typing_text {
    font-size: 2.813em;
    font-weight: 500;
    margin: 60px 0 12px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    display: inline-block;
    overflow: hidden; 
    border-right: .10em solid orange; 
    white-space: nowrap; 
    letter-spacing: .10em;
    animation: typing 3.5s steps(40, end), 
    blink-caret .75s step-end infinite;
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 600px; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

#home .main_text .sub_txt {
    font-size: 1.125em;
    margin-bottom: 1px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}

/* section_about ---------- */
#about {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#about .about_wrap {padding-bottom: 90px;}

#about .about_wrap .about_img {
    float: left;
    width: 55%;
    text-align: center;
}

#about .about_wrap .about_img > img {
    border-radius: 50%; 
    width: 45%;
}

#about .about_wrap .about_txt {
    float: left;
    width: 45%;
    box-sizing: border-box;
}

#about .about_wrap .about_txt > div {
    margin-bottom: 20px;
    line-height: 1.6;
}

#about .about_wrap .about_txt > div > h4 {
    position: relative;
    font-size: 1.063em;
    font-weight: 600; 
    margin-bottom: 7px;
    padding-left: 22px;
}

#about .about_wrap .about_txt > div > h4:before {
    display: block;
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 13px;
    height: 6px;
    background-color: #8080c0;
    border-radius: 10px;
}

#about .about_wrap .about_txt > div > p {
    margin: 2px 0;
    font-size: 0.938em;
}

/* section_skill ---------- */
#skill {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #566270;
}

#skill .skill_wrap {
    color: #FFFFF3;
    height: 100vh;
}

#skill .skill_wrap .guage_wrap {
    float: left;
    width: 50%;
    padding: 0 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 60px);
}

#skill > .skill_wrap .guage_wrap > h2 {
    text-align: left;
    align-self: flex-start;
}

#skill > .skill_wrap .guage_wrap > .line {
    display: inline-block;
    align-self: flex-start;
    margin: 5px 0 13px;
}

#skill > .skill_wrap > .guage_wrap > h3 {
    color: #FFFFF3;
    margin-bottom: 50px;
    text-align: left;
    align-self: flex-start;
}

#skill > .skill_wrap > .guage_wrap > ul {width: 100%;}

#skill > .skill_wrap > .guage_wrap > ul > li {margin-bottom: 40px;}

#skill > .skill_wrap > .guage_wrap .guage_txt {margin-bottom: 10px;}

#skill > .skill_wrap > .guage_wrap .guage_txt > span {
    font-size: 0.813em;
    margin-left: 5px;
}

#skill > .skill_wrap > .guage_wrap .guage_txt > .per {float: right;}

#skill .skill_wrap .guage_wrap .guage_bg {
    width: 100%;
    background-color: #E0E3DA;
    height: 10px;
    border-radius: 90px;
}

#skill .skill_wrap .guage_wrap .guage_bg .guage {
    height: 10px;
    display: block;
    border-radius: 90px;
}

@keyframes mymove01 {
    from {width: 0px;}
    to {width: 90%;}
}
@keyframes mymove02 {
    from {width: 0px;}
    to {width: 80%;}
}
@keyframes mymove03 {
    from {width: 0px;}
    to {width: 70%;}
}
@keyframes mymove04 {
    from {width: 0px;}
    to {width: 75%;}
}
@keyframes mymove05 {
    from {width: 0px;}
    to {width: 85%;}
}

#skill .skill_wrap .guage_wrap .guage_bg .gg01 {
    width: 90%;
    background-color: #898FF0;
}

#skill .skill_wrap .guage_wrap .guage_bg .gg02 {
    width: 80%;
    background-color: #8EC0E4;
}

#skill .skill_wrap .guage_wrap .guage_bg .gg03 {
    width: 70%;
    background-color: #A8EAFA;
}

#skill .skill_wrap .guage_wrap .guage_bg .gg04 {
    width: 75%;
    background-color: #49ddf8;
}

#skill .skill_wrap .guage_wrap .guage_bg .gg05 {
    width: 85%;
    background-color: #9abafc;
}

#skill .skill_wrap .skill_img {
    float: left;
    width: 44%;
    background: url(../img/bg_skill.jpg) center center no-repeat;
    background-size: cover;
    height: 100%;
}

#skill .skill_wrap .skill_img:before {
    display: block;
    content:'';
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    z-index: 5;
}

/* section_ portfolio ---------- */
#portfolio {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#portfolio > h3{margin-bottom: 55px;}

/* portfolio_popup ---------- */
#portfolio .portfolio_wrap {padding-bottom: 90px;}

#portfolio .portfolio_wrap .popup_wrap {
    display: none;
    position: fixed;
	top: 0; right: 0; left: 0; bottom: 0;
	background-color: rgba(0,0,0,.7);
    z-index: 100;
    margin: 0 auto;  
}

#portfolio .portfolio_wrap .popup_wrap .popup {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    border-radius: 10px;
    width: 50%;
    height: 90%;
    margin: auto;
    z-index: 100;
    background-color: #fff;
    overflow: hidden;
}

.popup i {
    position: absolute; 
    top: 20px; right: 30px; 
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.popup i > span {
    position: absolute; 
    width: 23px; 
    height: 2px; 
    background:#262626;
}
.popup > i > span:nth-child(1) {
    top: 50%; 
    transform:rotate(45deg);
}
.popup > i > span:nth-child(2) {
    top: 50%; 
    transform:rotate(-45deg);
}

.popup .pop_scroll {
    margin: 0 auto;
    background-color: #fff;
    width: 100%;
    height: 90%;
    z-index: 11;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 50px 0 40px 0;
}

.popup .pop_scroll .pop_content {padding: 0 50px;}

.popup .pop_scroll .pop_content .pop_tit {
   font-size: 1.438em;
   font-weight: 600;
}

.popup .pop_scroll .pop_content .pop_tit > span {
    font-size: 0.813em;
    font-weight: 300;
}

.popup .pop_scroll .pop_content > a {
    font-size: 1.125em;
    color: #8080c0;
    text-decoration: underline;
}

 .popup .pop_scroll .pop_content .pop_index  {
    text-align: left;
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
    margin-top: 20px;   
}

 .popup .pop_scroll .pop_content .pop_index th {
    position: relative;
    font-size: 1.000em;
    font-weight: 600; 
    padding-left: 17px;
}

 .popup .pop_scroll .pop_content .pop_index th:before {
    display: block;
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    width: 9px;
    height: 5px;
    background-color: #8080c0;
    border-radius: 10px;
}

.popup .pop_scroll .pop_content .pop_index td {
    font-size: 1.000em;
    font-weight: 300; 
    color: #585858;
}

.popup .pop_scroll .pop_content .pop_sub {
    margin-top: 10px;
    color: #585858;
}

.popup .pop_scroll .pop_content .pop_img {
    margin-top: 18px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.popup .pop_scroll .pop_content .pop_img > img {width: 100%;}

.popup .pop_scroll .pop_content .pop_img_mo {
    margin-top: 18px;
    text-align: center;
}

.popup .pop_scroll .pop_content .pop_img_mo img {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 5px;
}
/* portfolio_popup_end */

#portfolio .portfolio_wrap .portfolio_tab {
    text-align: center;
    margin-bottom: 50px;
}

#portfolio .portfolio_wrap .portfolio_tab > a {
    padding: 8px 40px;
    margin: 0 5px;
    background-color: #8080BF;
    font-size: 0.938em;
    border-radius: 10px;
    color: #fff;
}

#portfolio .portfolio_wrap .portfolio_tab > a.current {background-color: #2B2B40;}

#portfolio .portfolio_wrap .content_container {
    margin: 5px auto;
    width: 85%;
}

#portfolio .portfolio_wrap .content_container .content {
    float: left;
    width: 25%;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    z-index: 99;
}

#portfolio .portfolio_wrap .content_container .content .item {
    position: relative;
    height: 320px;
    overflow: hidden;
}

#portfolio .portfolio_wrap .content_container .content .item .item_img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%,-50%);   
    width: 85%;
    margin: 10px auto;
}

#portfolio .portfolio_wrap .content_container .content .item .item_cover {
    position: absolute;
    top: 0;
    left: 0;   
    width: 100%;
    height: 320px;
    z-index: 1;
    background-color: #2B2B40;
    opacity: 0;
}

#portfolio .portfolio_wrap .content_container .content .item:hover .item_cover {
    background-color: #2B2B40;
    opacity: 0.8;
    transition: .5s all ease;
}

#portfolio .portfolio_wrap .content_container .content .item:hover .item_img {
    width: 90%;
    transition: .5s all ease;
}

#portfolio .portfolio_wrap .content_container .content .item .item_cover .item_txt {
    color: #fff;
    margin-top: 10px;
}

#portfolio .portfolio_wrap .content_container .content .item .item_cover .item_txt > h4 {font-size: 1.563em;}

#portfolio .portfolio_wrap .content_container .content .item .item_cover .item_txt > p {font-size: 1.000em;}

#portfolio .portfolio_wrap .content_container .content .content_tit {
  font-size: 1.063em;
  font-weight: 500;
  margin: 10px auto;
}

/* section_contact ---------- */
#contact {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #2d2d2d;
}

#contact .contact_wrap {color: #FFFFF3;}

#contact .contact_wrap .map_wrap {
    float: left;
    width: 48%;
    height: 752px;
    color: #fff;
    padding: 80px 0;
}

#contact .contact_wrap .map_wrap #map {
    display: inline-block;
    width: calc(100% - 42px);
    height: 100%;
    box-sizing: border-box;
}

#contact .contact_wrap .info_wrap {
    float: left;
    width: 52%;
}


#contact > .contact_wrap .info_wrap > h2 {
    text-align: left;
    align-self: flex-start;
}

#contact > .contact_wrap .info_wrap > .line {
    display: inline-block;
    margin: 5px 0 13px;
    background-color: rgb(245, 50, 57);
}

#contact > .contact_wrap > .info_wrap > h3 {
    color: #FFFFF3;
    margin-bottom: 30px;
    text-align: left;
}
#contact > .contact_wrap > .info_wrap > .info  {
    text-align: left;
    border-collapse: separate;
    border-spacing: 0 7px;
    width: 100%;
}

#contact > .contact_wrap > .info_wrap > .info th {font-size: 1.563em;}

#contact > .contact_wrap > .info_wrap > .info td {
    font-size: 1.063em;
    font-weight: 500; 
    color: #fff;
}

#contact > .contact_wrap > .info_wrap > .info td .info_detail {
    font-weight: 300; 
    margin-left: 20px;
    word-spacing: 3px;
}

.form_contact {
    padding-right: 6%;
    text-align: center;
    margin-top: 50px;
}

.form_contact .field_box {margin-bottom: 10px;}

.form_contact .field_box input {color: #222222;}

.form_contact .field_box .field {
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 20px;
    padding-left: 20px;
    height: 48px;
    color: #222222;
    box-sizing: border-box;
}

.form_contact .field_box .field_txt {
    font-family: 'Noto Sans KR', sans-serif;
    height: 100px;
    padding-top: 10px;
}

.form_contact .send {
    margin: 15px 0 80px;
    color: #fff;
    cursor: pointer;
    padding: 15px 30px;
    font-weight: 400;
    font-size: 1.250em;
    border: none;
    background: #2b90d9;
    display: inline-block;
    border-radius: 90px;
}

.thankyou_message {display: none;}

.msg_popup_wrap {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
	background-color: rgba(0,0,0,.8);
    z-index: 10;
    margin: 0 auto;  
    width: 100%;
    overflow: hidden;
    text-align: center;    
}

.msg_popup {
    position: absolute; 
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%,-50%);   
}

.msg_popup > h1 {
    color: #fff;
    font-size: 120px;
    font-weight: 600;
}

.msg_popup > p {
    color: #fff;
    font-size: 1.563em;
    font-weight: 300;
}

#top_btn {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 50px;
    width: 40px;
    height: 40px;
    line-height: 37px;
    color: #ffffff;
    font-size: 1.563em;
    text-align: center;
    background-color: #84B1ED;
    border-radius: 10px;
    z-index: 1000;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

#top_btn:hover {background-color: #898FF0;}

.footer {
    background-color: rgb(12, 12, 12);
    color: #fff;
    font-size: 0.938em; 
    text-align: center;
    padding: 60px 0;
}

/* media_query ---------- */

/* ipad ---------- */
@media (max-width: 1024px) {

    /* section_ about ---------- */    

    #about .about_wrap .about_img {width: 45%;}

    #about .about_wrap .about_img > img {width: 50%;}

    #about .about_wrap .about_txt {width: 55%;}
    
    /* portfolio_popup ---------- */
    #portfolio .portfolio_wrap .popup_wrap .popup {width: 80%;}

    .popup .pop_scroll .pop_content .pop_tit > span {font-size: 0.625em;}
    /* portfolio_popup_end */

    #portfolio .portfolio_wrap .portfolio_tab {margin-bottom: 50px;}

    #portfolio .portfolio_wrap .content_container .content {width: 50%;}
}

/* Tablet ---------- */
@media (max-width: 768px) {

    /* header ----------*/
    .header {box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);}

    .header .logo {
        float: left;
        margin: 20px 0 10px 30px;
    }

    .gnb_wrap .gnb {display: none;}

    .gnb_wrap .menu_drop {display: none;}

    .gnb_wrap .gnb_mobile {
        display: block!important;
        margin: 20px 30px 0 0;
    }

    .gnb_wrap .gnb_mobile .menu_trigger, .gnb_wrap .gnb_mobile .menu_trigger span {
        display : inline-block;
        transition : all .4s;
        box-sizing : border-box;
    }

    .gnb_wrap .gnb_mobile .menu_trigger {
        position : relative;
        width : 25px;
        height : 20px;
    }

    .gnb_wrap .gnb_mobile .menu_trigger span {
        position : absolute;
        left : 0;
        width : 100%;
        height : 4px;
        background-color : #333;
        border-radius : 4px;
    }

    .gnb_wrap .gnb_mobile .menu_trigger span:nth-of-type(1) {top : 0;}

    .gnb_wrap .gnb_mobile .menu_trigger span:nth-of-type(2) {top : 8px;}

    .gnb_wrap .gnb_mobile .menu_trigger span:nth-of-type(3) {bottom : 0;}

    .gnb_wrap .gnb_mobile .menu_trigger.active span:nth-of-type(1) {
        -webkit-transform : translateY(8px) rotate(-315deg);
        -ms-transform: translateY(-8px) rotate(315deg);
        -o-transform: translateY(-8px) rotate(315deg);
        transform : translateY(8px) rotate(-315deg);
    }

    .gnb_wrap .gnb_mobile .menu_trigger.active span:nth-of-type(2) {opacity : 0;}

    .gnb_wrap .gnb_mobile .menu_trigger.active span:nth-of-type(3) {
        -webkit-transform : translateY(-8px) rotate(315deg);
        -ms-transform: translateY(-8px) rotate(315deg);
        -o-transform: translateY(-8px) rotate(315deg);
        transform : translateY(-8px) rotate(315deg);
    }

    .gnb_wrap .menu_drop {
        position: absolute;
        padding: 10px 0;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
        background-color: #fff;
        opacity: 1;
        z-index: 100;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    }

    .gnb_wrap .menu_drop > li {
        font-size: 1.063em;
        font-weight: 500;
        padding: 10px 0;
    }

    .gnb_wrap .menu_drop li > a {color: #333;}

    /* section_home ---------- */
    #home .main_text .typing_text {
        font-size: 1.875em;
        font-weight: 500;
        margin: 60px 0 12px;
    }
    
    /* The typing effect */
    @keyframes typing {
        from { width: 0 }
        to { width: 440px; }
    }
    
    #home .main_text .sub_txt {
        font-size: 1.063em;
        margin-bottom: 1px;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    }

    /* section_ about ---------- */
    #about .about_wrap .about_img {width: 100%;}

    #about .about_wrap .about_img > img {width: 50%;}

    #about .about_wrap .about_txt {
        width: 100%;
        padding: 10px 0 0 11px;
    }

    /* section_skill ---------- */
    #skill .skill_wrap {height: 100%;}

    #skill .skill_wrap .guage_wrap {
        width: 100%;
        padding: 0;
        height: 100%;
    }

    #skill > .skill_wrap .guage_wrap > h2 {
        text-align: center;
        align-self: center;
    }

    #skill > .skill_wrap .guage_wrap > .line {
        display: block;
        margin: 5px auto 13px;
    }

    #skill > .skill_wrap > .guage_wrap > h3 {
        color: #FFFFF3;
        margin-bottom: 50px;
        text-align: center;
        align-self: center;
    }

    #skill > .skill_wrap > .guage_wrap > ul {
        width: 90%; 
        padding-bottom: 90px;
    }

    #skill .skill_wrap .skill_img {display: none;}

    /* section_ portfolio ---------- */
    /* portfolio_popup ---------- */
    #portfolio .portfolio_wrap .popup_wrap .popup {width: 95%;}
    /* portfolio_popup_end */

    #portfolio .portfolio_wrap .content_container .content {width: 100%;}

    /* section_contact ---------- */
    #contact .contact_wrap .map_wrap {display: none;}

    #contact .contact_wrap .info_wrap {
        float: left;
        width: 100%;
    }

    #contact > .contact_wrap .info_wrap > h2 {text-align: center;}

    #contact > .contact_wrap .info_wrap > .line {
        display: block;
        margin: 5px auto 13px;
    }

    #contact > .contact_wrap > .info_wrap > h3 {text-align: center;}
    #contact > .contact_wrap > .info_wrap > .info  {width: 90%; padding-left: 20%;}

    #contact > .contact_wrap > .info_wrap > .info th {font-size: 1.500em;}

    #contact > .contact_wrap > .info_wrap > .info td {font-size: 1.000em;}

    .form_contact {
        width: 90%;
        padding: 0;
        text-align: center;
        margin: auto;
        margin-top: 50px;
    }

    .form_contact .send {margin-bottom: 90px;}

    .thankyou_message {display: none;}

    .msg_popup > h1 {
        font-size: 100px;
        line-height: 1.1;
        margin-bottom: 40px;
    }

    .msg_popup > p {font-size: 1.375em;}
}

/* Mobile ---------- */
@media (max-width: 400px) {

    .header .logo {margin: 20px 0 10px 15px;}

    .header .logo > a {
        width: 100px;
        height: 20px;   
    }

    .gnb_wrap .gnb_mobile {margin: 20px 20px 0 0;}

    /* section_home ---------- */
    #home .main_text .typing_text {font-size: 1.313em;}
        
    /* The typing effect */
    @keyframes typing {
        from { width: 0 }
        to { width: 300px; }
    }
        
    #home .main_text .sub_txt {font-size: 0.875em;}

    /* section_ about ---------- */
    #about .about_wrap .about_img > img {width: 60%;}

    #about .about_wrap .about_txt {padding: 10px 2%;}

    #about .about_wrap .about_txt > div > p {font-size: 0.813em;}

    h2 {
        font-size: 1.875em;
        padding-top: 80px;
    }

    h3 {
        font-size: 0.750em;
        margin-bottom: 40px;
    }

    /* portfolio_popup ---------- */
    #portfolio .portfolio_wrap .popup_wrap .popup {width: 95%;}

    #portfolio > h3{margin-bottom: 35px;}

    /* portfolio_popup ---------- */
    #portfolio .portfolio_wrap {padding-bottom: 90px;}
        
    .popup .pop_scroll .pop_content {
        padding: 0 15px;
        box-sizing: border-box;
    }

    .popup .pop_scroll .pop_content .pop_tit {
        font-size: 1.313em;
        font-weight: 600;
    }

    .popup .pop_scroll .pop_content .pop_tit > span {font-size: 0.625em;}

    .popup .pop_scroll .pop_content > a {font-size: 0.938em;}

    .popup .pop_scroll .pop_content .pop_index  {margin-top: 10px;}

    .popup .pop_scroll .pop_content .pop_index th {
        font-size: 0.875em; 
        padding-left: 15px;
    }

    .popup .pop_scroll .pop_content .pop_index th:before {
        top: 10px;
        width: 8px;
        height: 4px;
    }

    .popup .pop_scroll .pop_content .pop_index td {font-size: 0.875em;}

    .popup .pop_scroll .pop_content .pop_sub {font-size: 0.875em;}
    /* portfolio_popup_end */

    #portfolio .portfolio_wrap .content_container .content {width: 100%;}

    #portfolio .portfolio_wrap .portfolio_tab > a {
        padding: 8px 25px;
        margin: 0 4px;
        font-size: 0.813em;
    }

    #portfolio .portfolio_wrap .portfolio_tab {margin-bottom: 30px;}

    /* section_contact ---------- */
    #contact .contact_wrap .map_wrap {display: none;}
        
    #contact > .contact_wrap > .info_wrap > .info  {padding-left: 10%;}
        
    .msg_popup > h1 {font-size: 80px;}

    .msg_popup > p {font-size: 1.125em;}

    #top_btn {right: 10px; bottom: 10px;}
    
    .footer {font-size: 0.688em; padding: 50px 0;}
}
