.wrap {
    height: 100%;
}

#header {
    
}

.header {
    background-color: #fff;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 100;
    width: 100%;
    /* border-bottom: 1px solid #cfcfcf; */
    height: 60px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.header .logo {
    float: left;
    margin: 10px 0 10px 100px;
}

.header .logo > a {
    display: block;
    background: url(../img/logo.png) no-repeat;
    width: 101px;
    height: 42px;
    text-indent: -9999px;   
}

.gnb_wrap {
    float: right;
}

.gnb_wrap .gnb {
    margin: 20px 100px 0 0;
}

.gnb_wrap .gnb > ul {
    
}

.gnb_wrap .gnb > ul > li {
    display: inline-block;
}

.gnb_wrap .gnb > ul > li > a{
    font-size: 1.125em;
    font-weight: 400;
    padding: 0 15px;
    line-height: 1.2;
}

.gnb_wrap .gnb > ul > li > a.active {
    color: #8080c0;
}

.gnb_wrap .gnb_mobile {
    display: none;   
}

#home {
    position: relative;
    width: 100%;
    height: 100vh;
    /* height: 100%; */
    background: url(../img/bg_home.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1000;
    margin: 0 auto;
}

#home .main_text {
    padding-top: 60px;
    text-align: center;
}

#home .main_text .typing_text {
    margin: 60px 0 12px;
}

#home .main_text .typing_text {
    font-size: 40px;
    font-weight: 500;
}

.typing_text {
    display: inline-block;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .10em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 570px; }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

#home .main_text .sub_txt {
    font-size: 18px;
    margin-bottom: 1px;
}

#about {
    position: relative;
    width: 100%;
    /* height: 100vh; */
    height: 100%;
    margin: 0 auto;
}

#about .about_wrap {
    /* padding-top: 90px; */
}

#about .about_wrap .about_img {
    float: left;
    width: 55%;
    /* background-color: gray; */
    text-align: center;
}

#about .about_wrap .about_img > img {
    border-radius: 50%; 
    width: 55%;
}

#about .about_wrap .about_txt {
    float: left;
    width: 45%;
    /* background-color: skyblue; */
}

#about .about_wrap .about_txt > div {
    margin-bottom: 20px;
}

#about .about_wrap .about_txt > div > h4 {
    position: relative;
    font-size: 17px;
    font-weight: 600; 
    margin-bottom: 7px;
    padding-left: 22px;
}

#about .about_wrap .about_txt > div > h4:before {
    display: block;
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 13px;
    height: 6px;
    background-color: #8080c0;
    border-radius: 10px;
}

#about .about_wrap .about_txt > div > p {
    margin: 2px 0;
    font-size: 15px;
}

/* 섹션_스킬 */

#skill {
    position: relative;
    width: 100%;
    /* height: 100vh; */
    height: 100%;
    margin: 0 auto;
    background-color: #566270;
}

#skill .skill_wrap {
    color: #FFFFF3;
    /* height: 100%; */
    height: 100vh;
}

#skill .skill_wrap .guage_wrap {
    float: left;
    width: 50%;
    /* background-color: skyblue; */
    padding: 0 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 60px);
}

#skill > .skill_wrap .guage_wrap > h2 {
    /* color: #FFFFF3; */
    text-align: left;
    align-self: flex-start;
}

#skill > .skill_wrap .guage_wrap > .line {
    display: inline-block;
    align-self: flex-start;
    margin: 5px 0 13px;
}

#skill > .skill_wrap > .guage_wrap > h3 {
    color: #FFFFF3;
    margin-bottom: 50px;
    text-align: left;
    align-self: flex-start;
}

#skill > .skill_wrap > .guage_wrap > ul {width: 100%;}

#skill > .skill_wrap > .guage_wrap > ul > li {
    margin-bottom: 40px;
}

#skill > .skill_wrap > .guage_wrap .guage_txt {
    margin-bottom: 10px;
}

#skill > .skill_wrap > .guage_wrap .guage_txt > span {
    font-size: 13px;
    margin-left: 5px;
}

#skill > .skill_wrap > .guage_wrap .guage_txt > .per {
    float: right;
}

#skill .skill_wrap .guage_wrap .guage_bg {
    width: 100%;
    background-color: #E0E3DA;
    height: 10px;
    border-radius: 90px;
}

#skill .skill_wrap .guage_wrap .guage_bg .guage {
    background-color: #F68657;
    height: 10px;
    display: block;
    border-radius: 90px;
}

@keyframes mymove01 {
    from {width: 0px;}
    to {width: 90%;}
  }
  @keyframes mymove02 {
    from {width: 0px;}
    to {width: 80%;}
  }
  @keyframes mymove03 {
    from {width: 0px;}
    to {width: 70%;}
  }
  @keyframes mymove04 {
    from {width: 0px;}
    to {width: 75%;}
  }
  @keyframes mymove05 {
    from {width: 0px;}
    to {width: 85%;}
  }

#skill .skill_wrap .guage_wrap .guage_bg .gg01 {
    width: 90%;
    animation: mymove01 3s;
}

#skill .skill_wrap .guage_wrap .guage_bg .gg02 {
    width: 80%;
    animation: mymove02 3s;
}

#skill .skill_wrap .guage_wrap .guage_bg .gg03 {
    width: 70%;
    animation: mymove03 3s;
}

#skill .skill_wrap .guage_wrap .guage_bg .gg04 {
    width: 75%;
    animation: mymove04 3s;
}

#skill .skill_wrap .guage_wrap .guage_bg .gg05 {
    width: 85%;
    animation: mymove05 3s;
}

#skill .skill_wrap .skill_img {
    float: left;
    width: 44%;
    background: url(../img/bg_skill.jpg) center center no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    height: 100%;
}

#skill .skill_wrap .skill_img:before {
    display: block;
    content:'';
    /* float: left; */
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    z-index: 5;
}

/* 섹션_스킬_끝 */

/* 섹션_포트폴리오_시작 */

#portfolio {
    position: relative;
    width: 100%;
    /* height: 100vh; */
    height: 100%;
    margin: 0 auto;
}

#portfolio > h3{
    margin-bottom: 55px;
}

/* 포트폴리오_팝업 */

#portfolio .portfolio_wrap .popup_wrap {
    display: none;
    position: fixed;
	top: 0; right: 0; left: 0; bottom: 0;
	background-color: rgba(0,0,0,.7);
    z-index: 100;
    margin: 0 auto;  
}

#portfolio .portfolio_wrap .popup_wrap .popup {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    /* max-width: 1400px;
    max-height: 830px; */
    border-radius: 10px;
    width: 50%;
    height: 90%;
    margin: auto;
    z-index: 100;
    background-color: #fff;
    overflow: hidden;
}

.popup i {
    /* display: block;  */
    position: absolute; 
    top: 20px; right: 30px; 
    width: 23px;
    height: 23px;
    cursor: pointer;}

.popup i > span {
    position: absolute; 
    width: 23px; 
    height: 2px; 
    background:#262626;
}
.popup > i > span:nth-child(1) {
    top: 50%; 
    transform:rotate(45deg);
}
.popup > i > span:nth-child(2) {
    top: 50%; 
    transform:rotate(-45deg);
}

.popup .pop_scroll {
    /* position: relative; */
    margin: 0 auto;
    background-color: #fff;
    width: 100%;
    height: 90%;
    z-index: 11;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 50px 0 40px 0;
}

.popup .pop_scroll .pop_content {
    padding: 0 50px;
}

.popup .pop_scroll .pop_content .pop_tit {
   font-size: 23px;
   font-weight: 600;
}

.popup .pop_scroll .pop_content .pop_tit > span {
    font-size: 13px;
    font-weight: 300;
 }

.popup .pop_scroll .pop_content > a {
    font-size: 18px;
    color: #8080c0;
    text-decoration: underline;
 }

 .popup .pop_scroll .pop_content .pop_index  {
    text-align: left;
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
    /* table-layout: fixed; */
    margin-top: 20px;   
}

 .popup .pop_scroll .pop_content .pop_index th {
    position: relative;
    font-size: 16px;
    font-weight: 600; 
    padding-left: 17px;
}

 .popup .pop_scroll .pop_content .pop_index th:before {
    display: block;
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    width: 9px;
    height: 5px;
    background-color: #8080c0;
    border-radius: 10px;
}

.popup .pop_scroll .pop_content .pop_index td {
    font-size: 16px;
    font-weight: 300; 
    color: #585858;
}

.popup .pop_scroll .pop_content .pop_sub {
    margin-top: 10px;
    color: #585858;
}

.popup .pop_scroll .pop_content .pop_img {
    /* width: 100%; */
    margin-top: 18px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.popup .pop_scroll .pop_content .pop_img > img {
    width: 100%;
}

.popup .pop_scroll .pop_content .pop_img_mo {
    /* width: 100%; */
    margin-top: 18px;
    text-align: center;
}

.popup .pop_scroll .pop_content .pop_img_mo img {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 5px;
}

/* 포트폴리오_팝업 끝 */

#portfolio .portfolio_wrap .portfolio_tab {
    text-align: center;
    margin-bottom: 50px;
}

#portfolio .portfolio_wrap .portfolio_tab > a {
    padding: 8px 40px;
    margin: 0 5px;
    background-color: #8080BF;
    font-size: 15px;
    border-radius: 10px;
    color: #fff;
}

#portfolio .portfolio_wrap .portfolio_tab > a.current {
    background-color: #2B2B40;
}

#portfolio .portfolio_wrap .content_container {
    margin: 5px auto;
    width: 85%;
    /* height: 900px; */
    /* background-color: rgba(0, 0,v 0, 0.1); */
}

#portfolio .portfolio_wrap .content_container .content {
    float: left;
    width: 25%;
    /* height: 400px; */
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    z-index: 99;
}

#portfolio .portfolio_wrap .content_container .content .item {
    position: relative;
    height: 320px;
    overflow: hidden;
    /* width: 90%; */
    /* margin: 10px auto; */
}

#portfolio .portfolio_wrap .content_container .content .item .item_img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%,-50%);   
    width: 85%;
    margin: 10px auto;
}

#portfolio .portfolio_wrap .content_container .content .item .item_cover {
    position: absolute;
    top: 0;
    left: 0;   
    width: 100%;
    height: 320px;
    z-index: 1;
    background-color: #2B2B40;
    opacity: 0;
}

#portfolio .portfolio_wrap .content_container .content .item:hover .item_cover {
    background-color: #2B2B40;
    opacity: 0.8;
    transition: .5s all ease;
}

#portfolio .portfolio_wrap .content_container .content .item:hover .item_img {
    width: 90%;
    transition: .5s all ease;
}

#portfolio .portfolio_wrap .content_container .content .item .item_cover .item_txt {
    color: #fff;
    margin-top: 10px;
}

#portfolio .portfolio_wrap .content_container .content .item .item_cover .item_txt > h4 {
    font-size: 25px;
}

#portfolio .portfolio_wrap .content_container .content .item .item_cover .item_txt > p {
    font-size: 16px;
}

#portfolio .portfolio_wrap .content_container .content .content_tit {
  font-size: 17px;
  font-weight: 500;
  margin: 10px auto;
}

/* 섹션_포트폴리오_끝 */

/* 섹션_컨택트_시작 */

#contact {
    position: relative;
    width: 100%;
    /* height: 100vh; */
    height: 100%;
    margin: 0 auto;
    background-color: #566270;
}

#contact .contact_wrap {
    color: #FFFFF3;
    /* height: 100%; */
    height: 100vh;
}

#contact .contact_wrap .map_wrap {
   float: left;
   width: 50%;
   color: #fff;
   padding-top: 60px;
}

#contact .contact_wrap .guage_wrap {
    float: left;
    width: 50%;
    /* background-color: skyblue; */
    /* padding: 0 3%; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    /* height: calc(100vh - 60px); */
}

#contact .contact_wrap {
    color: #FFFFF3;
    /* height: 100%; */
    height: 100vh;
}

#contact > .contact_wrap .guage_wrap > h2 {
    /* color: #FFFFF3; */
    text-align: left;
    align-self: flex-start;
}

#contact > .contact_wrap .guage_wrap > .line {
    display: inline-block;
    align-self: flex-start;
    margin: 5px 0 13px;
}

#contact > .contact_wrap > .guage_wrap > h3 {
    color: #FFFFF3;
    margin-bottom: 50px;
    text-align: left;
    align-self: flex-start;
}

/* 섹션_컨택트_끝 */



