.wrap {
    min-width: 1200px;
    overflow: hidden;
}

.header {
    background-color: #fff;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 100;
    width: 100%;
    min-width: 1200px;
    border-bottom: 1px solid #cfcfcf;
}

.header:after {
    display: block;
    clear: both;
    content: '';
}

.inner {
    margin: 0 auto;
    width: 1200px;
}

.header .inner .logo {
    float: left;
    margin: 28px 18px 0 30px;
}

.header .inner .logo > a {
    /* font-size: 0; */
    display: block;
    text-indent: -9999px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    width: 131px;
    height: 15px;
}

.header .inner .store {
    position: relative;
    color: #000;
    display: inline-block;
    margin-top: 27px;
    font-size: 17px;
    font-weight: 700;
    line-height: 1;
    padding-right: 24px;
}

.header .inner .store:after {
    display: inline-block;
    content: '';
    background-image: url(../img/ico_header_check.png);
    background-repeat: no-repeat;
    width: 19px; height: 19px;
    position: absolute;
    top: 0;
    right: 0;
}

.header .inner .gnb_wrap {
    display: inline-block;
}

.header .inner .gnb_wrap .gnb_main {
    display: inline-block;
    margin-left: 85px;
}

.header .inner .gnb_wrap .gnb_main > li {
    display: inline-block;
    padding: 22px 17px;
}

.header .inner .gnb_wrap .gnb_main > li > a{
    display: inline-block;
    color : #000;
    font-size: 17px;
    font-weight: 700;
}


.header .inner .gnb_wrap .gnb_main > li > a:hover{
    color : #7a594a;
}


.header .inner .gnb_wrap .gnb_dropdown{
    width: 100%;
    height: 443px;
    background-color: #7a594a;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 100;
    display: none;
}

/* .header .inner .gnb_wrap .gnb_main + .gnb_dropdown {
    transition: 0.5s;
} */

.header .inner .gnb_wrap .gnb_main:hover + .gnb_dropdown {
    display: block;
}

.header .inner .gnb_wrap .gnb_dropdown .dropdown_menu{
    width: 1200px;
    margin: 0 auto;
    
}

.gnb_dropdown .dropdown_menu .etc_menu {
    position: absolute;
    bottom: 50px;
    right: 260px;
    
}

.gnb_dropdown .dropdown_menu .etc_menu > a {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    display: block;
    margin-top: 33px;
    line-height: 1;
    padding-left: 50px;
    position: relative;
}

.gnb_dropdown .dropdown_menu .etc_menu > .etc_ico01:before {
    display: block;
    content: '';
    width: 40px;
    height: 40px;
    background: url(../img/sp_gnb_etc03.png) no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -20px;
}

.gnb_dropdown .dropdown_menu .etc_menu > .etc_ico02:before {
    display: block;
    content: '';
    width: 40px;
    height: 40px;
    background: url(../img/sp_gnb_etc04.png) no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -20px;
}

.gnb_dropdown .dropdown_menu .etc_menu > .etc_ico03:before {
    display: block;
    content: '';
    width: 40px;
    height: 40px;
    background: url(../img/sp_gnb_etc05.png) no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -20px;
}

.gnb_dropdown .dropdown_menu .menu01 {
    width: 194px;
}
.gnb_dropdown .dropdown_menu .menu02 {
    width: 175px;
}
.gnb_dropdown .dropdown_menu .menu03 {
    width: 179px;
}
.gnb_dropdown .dropdown_menu .menu04 {
    width: 176px;
}
.gnb_dropdown .dropdown_menu .menu05 {
    width: 260px;
}

.gnb_dropdown .dropdown_menu > ul {
    padding : 25px 0 33px 0;
    display: inline-block;
    /* background-color: black; */
    margin-left: 10px;
    vertical-align: top;
}

.gnb_dropdown .dropdown_menu > ul > li {
    font-size: 18px;
    font-weight: 200;
    margin-top: 12px;
    width: 130px;
}

.gnb_dropdown .dropdown_menu > ul > li > a {
    color: rgba(255, 255, 255, 0.6);
    word-break: keep-all;
}

.gnb_dropdown .dropdown_menu > ul > li > a:hover {
    color: #fff;
    text-decoration: underline;
}

.gnb_dropdown .dropdown_menu > ul > li.menu_tit{
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 20px;
    width: auto;
}

.gnb_dropdown .dropdown_menu > ul > li.menu_tit > a{
    color: #fff;
    text-decoration: none;
}

.header .inner .snb {
    float: right;
    /* background-color: red; */
    padding-right: 30px;
}

.header .inner .snb .navi {
    display: inline-block;
    vertical-align: top;
    margin-left: 29px;
}

.header .inner .snb .navi > a {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: #888;
    margin-top: 24px;
    padding-bottom: 25px;
    vertical-align: top;
}

.header .inner .snb .navi a.ico_share {
    padding-left: 22px;
}

.header .inner .snb .navi a.ico_share:before {
    position: absolute;
    top: -1px;
    left: 0;
    display: inline-block;
    content: '';
    width: 18px;
    height: 23px;
    background-image: url(../img/ico_util_social.png);
    background-repeat: no-repeat;
}

.header .inner .snb .navi a.ico_search {
    padding-left: 25px;
}

.header .inner .snb .navi a.ico_search:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: '';
    width: 21px;
    height: 22px;
    background-image: url(../img/ico_util_search.png);
    background-repeat: no-repeat;
}

.header .inner .snb .navi a.ico_recent {
    padding-left: 26px;
}

.header .inner .snb .navi a.ico_recent:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: '';
    width: 21px;
    height: 21px;
    background-image: url(../img/ico_util_recent.png);
    background-repeat: no-repeat;
}

.container {
    padding-top: 70px;
}

.container .section_slide {
    position: relative;
}

.container .section_slide .btn_wrap {
    background-color: red;
}

.container .section_slide .btn_wrap > div {
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.container .section_slide .btn_wrap .btn_prev {
    background: url(../img/btn_visual_prev.png) no-repeat;
    background-position: 0 0;
    margin-left: -650px;
}

.container .section_slide .btn_wrap .btn_next {
    background: url(../img/btn_visual_next.png) no-repeat;
    background-position: 0 0;
    margin-left: 650px;
}

.container .best_main {
    padding-top: 120px;
}

.container .best_main .inner > h2 {
    text-align: center;
    margin-bottom: 80px;
}

.prd_list {
    width: 1120px;
    margin: 0 auto;
    overflow: hidden;
    /* background-color: skyblue; */
}

.prd_list > ul > li{
    position: relative;
    display: inline-block;
    padding-left: 10px;
    width: 360px;
    vertical-align: top;  
}

.prd_list > ul > li .img {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}

.prd_list > ul > li .img img {
    width: 100%;
}

.prd_list > ul > li .info {
    padding: 50px 30px 60px 30px;
    position: relative;
}

.prd_list > ul > li .info .sticker {
    position: absolute;
    top: 21px;
    left: 30px;
    font-size: 14px;
    color: #9b7061;
    width: 54px;
    height: 18px;
    line-height: 17px;
    border: 1px solid #9b7061;
    text-align: center;
}

.prd_list > ul > li .info .name {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #222;
    height: 48px;
}

.prd_list > ul > li .info .priceArea {
    margin-top: 7px;
    height: 36px;
}

.prd_list > ul > li .info .priceArea .price {
    font-size: 16px;
    color: #222;
    line-height: 33px;
}

.prd_list > ul > li .info .priceArea .price em {
    font-size: 22px;
    margin-right: 5px;
}

.btn_area {
    width: 100%;
    text-align: center;
    padding-bottom: 150px;
}

.btn_area .btn_more {
    display: inline-block;
    width: 402px;
    height: 80px;
    line-height: 78px;
    border: 1px solid #e8e8e8;
}

.btn_area .btn_more > span {
    display: inline-block;
    font-size: 28px;
    font-weight: 100;
    color: #666;    
}

.btn_area .btn_more > span:after {
    background: url(../img/arr_more.png) no-repeat;
    background-position: 0 0;
    display: inline-block;
    content: '';
    vertical-align: middle;
    width: 12px;
    height: 22px;
    margin-left: 20px;
    margin-top: -5px;
}

.container .recomm_main .inner > h2 {
    text-align: center;
    margin-bottom: 80px;
}

.container .recomm_main .inner .hashtag {
    text-align: center;
    padding: 0 50px;
    margin-bottom: 60px;
}

.container .recomm_main .inner .hashtag > a {
    font-size: 22px;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 16px 30px;
    margin: 0 10px 20px 10px;
    display: inline-block;
}

.container .recomm_main .inner .hashtag > a.on {
    font-size: 22px;
    border: 1px solid #977262;
    border-radius: 30px;
    color: #fff;
    background-color: #977262;
}